/* ===============================================
========== USE @font-face to load fonts ==========
==================================================*/

/*These are all of the custom fonts you will have to link.*/
@font-face {
font-family:"ff-dagny-web-pro-1";
src:url("../fonts/DagnyWebPro.eot");
}

@font-face {
font-family:"ff-dagny-web-pro-light";
src:url(../fonts/DagnyWebPro-Xlight.woff) format("woff");
}

@font-face {
font-family:"ff-dagny-web-pro-2";
src:url(../fonts/DagnyWebPro.woff) format("woff");
}

@font-face {
font-family:"ff-dagny-web-pro-bold";
src:url(../fonts/DagnyWebPro-Bold.woff) format("woff");
}

/* ===============================================
================ Some TA stylingÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ ================
==================================================*/

/*The general width of the layout; scrollbars will appear if window is less wide.*/
body{
position: relative;
margin-left: 60px;
margin-right: 60px;
min-width:1366px;
min-height:734px;
background-size: cover;
padding: 0px;

background-image:url('../img/background.jpg');

background-size: 100% 100%;
background-repeat: no-repeat;
}

/*Take note of how to apply use of a custom font*/
h1,h2,h3,h4,h5,p,ul,li {
padding:0;
margin:0;
font-family:"ff-dagny-web-pro-1","ff-dagny-web-pro-2","Helvetica Neue", Helvetica, Arial, sans-serif;

}

#header {
	text-align: center;
}
#header img{
	height: 60px;
  margin: 0 auto;
}


#franklr {
	background-color: rgba(255, 255, 255, 0.6);
	border: 3px #000000 solid;
	max-width: 320px;
	width: 320px;
	max-height: 600px;
	height: 600px;
	text-align: center;
  margin:0 auto;


	font-family:"ff-dagny-web-pro-1";
	font-weight: bold;
}

#panel {
	background-color: rgba(255, 255, 255, 1);
	border: 3px #000000 solid;
	max-width: 500px;
	width: 400px;
	max-height: 600px;
	height: 600px;
	text-align: center;
	margin: 0px 30px 0px 0px;
	background-repeat: repeat;
	overflow-y: auto;
	background-image:url('../img/feed.jpg');
	background-repeat: no-repeat;
	float: right;
}

#panel p{
	font-weight: bold;	border-top: 1px #000000 solid;
	color: #000000;
}

#panel p:hover{
		background-color: rgba(255, 255, 255, 0.3);
}

#panel ul {
	background-color: rgba(128, 128, 128, 0.9);
	list-style: none;
	font-family:"ff-dagny-web-pro-1";
}

#panel li {
	list-style: none;
	text-align: left;
	vertical-align: middle;
	border-top: 1px #000000 solid;

	min-height: 68px;
	padding: 0px 10px 0px 10px;
}

#unmatch {
	float: left;
	margin: auto 5px;
	height: 10px;
	margin-top: 29px;
	margin-right: 5px;
	margin-left: 0px;
	width: 5px;
	text-align: center;
}
#panel li div{
	padding-left: 60px;
}


#panel li:hover, #panel li.message:hover{
	background-color: rgba(255, 255, 255, 0.6);
}

#panel li img{
	float: left;
	clear: right;
	width: 48px;
	padding-right: 10px;
	vertical-align: middle;
	margin-top: 10px;
	height: 48px;
}

#panel li.message {
		background-color: rgba(200, 200, 200, 0.6);
}

#panel li a:link {
	color:#000000;
}
#panel li a:visited {
	color:#000000;
}
#panel li a:hover {
	color:#0000FF;
}

#name_container {
	display: inline-block;
	font-size: 22px;
	width: 300px;
	height: 35px;
	text-align: left;
  margin: 10px auto 0;
}

#age {
	font-weight: normal;
}
#username, #age {
	display: inline-block;
	text-align: left;
	font-size: 24px;

}

#about{
	width: 300px;
	text-align: left;
  margin:0 auto;
}

#blurb {
	width: 300px;
	height: 100px;
	text-align: left;
  margin:0 auto;
	font-weight: normal;
	font-size: 13px;
}
#franklr img {
	height: 300px;
	width: 300px;
	text-align: center;
  margin: 10px auto;
	border: 3px rgba(128, 128, 128, 1) solid;
}

#franklr #picture {
	background-color: rgba(64, 64, 64, 0.5);
}
#footer{
	text-decoration: none;
	text-align: left;
}


#footer a{
	text-decoration: none;
}

#popup {
	display:none;
	position:absolute;
	margin:0 auto;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
}

.hidden {
	display: none;
}

#name_container.hidden {
	font-size: 0px;
}
